/*reshapes regular and updated avatars*/.avatar-2e8lTP.clickable-31pE3P,foreignObject[mask*="svg-mask-avatar"], foreignObject[mask*="#:r"]{
mask: none;
border-radius: var(--avatar-border-radius);
border-width: var(--avatar-border-width);
border-color: var(--avatar-border-color);
border-style: var(--avatar-border-style);
background-color: var(--avatar-bg-color);

margin-top: calc(var(--avatar-border-width)+5px);
margin-bottom: calc(var(--avatar-border-width)+5px);
}

/* normal statuses */
/*online*/rect[fill="#23a55a"][mask="url(#svg-mask-status-online)"]{

mask: none;

rx:var(--status-radius);
fill: var(--online-status-color) !important;

border-color: white;
border-style: solid;
}
/* online */rect[fill="#23a55a"][width="10"]{
rx: var(--status-radius);
fill: var(--online-status-color) !important;
}

/*online(mobile)*/rect[fill="#23a55a"][mask="url(#svg-mask-status-online-mobile)"]{
mask: none;
height: 10px;
width: 10px;
x: 22;
y: 22;

rx: var(--status-radius);
fill: var(--mobile-status-color) !important;   
}
/*online(mobile)*/rect[fill="#23a55a"][width="25"]{
rx: var(--status-radius);
fill: var(--mobile-status-color) !important;
}

/*idle*/rect[fill="#f0b232"][mask="url(#svg-mask-status-idle)"]{
mask: none;

rx: var(--status-radius);
fill: var(--idle-status-color) !important;      
}
/*idle*/rect[fill="#f0b232"]{
rx: var(--status-radius);
fill: var(--idle-status-color) !important;
}

/*do not disturb*/rect[fill="#f23f43"][mask="url(#svg-mask-status-dnd)"]{
mask: none;

rx: var(--status-radius);
fill: var(--dnd-status-color) !important;   
}
/*do not disturb*/rect[fill="#f23f43"]{
rx: var(--status-radius);
fill: var(--dnd-status-color) !important;
}

/*offline*/rect[fill="#80848e"][mask="url(#svg-mask-status-offline)"] {
mask: none;

rx: var(--status-radius);
fill:  var(--offline-status-color) !important;

}
/*offline*/rect[fill="#80848e"]{
rx: var(--status-radius);
fill: var(--offline-status-color) !important;
}


/* overlay statuses */
/* online sm */.avatar-2MSPKk.wrapper-3Un6-K:has(rect[fill="#23a55a"]):not([width="120"])::after, .avatar-1HDIsL .wrapper-3Un6-K:has(rect[fill="#23a55a"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 4px;
right: 4px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--online-status-icon);
image-rendering: var(--online-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--online-status-icon-scale);
rotate: var(--online-status-icon-rotation);
filter: var(--online-status-icon-filter);
}
/* online md */.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K:has(rect[fill="#23a55a"]):not([width="120"])::after{
position: absolute;
content: "";

bottom: 8px;
right: 8px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--online-status-icon);
image-rendering: var(--online-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--medium-online-status-icon-scale);
rotate: var(--online-status-icon-rotation);
filter: var(--online-status-icon-filter);
}
/* online lg */.wrapper-3Un6-K.avatar-3QF_VA:has(rect[fill="#23a55a"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 13px;
right: 13px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--online-status-icon);
image-rendering: var(--online-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--large-online-status-icon-scale);
rotate: var(--online-status-icon-rotation);
filter: var(--online-status-icon-filter);
}

/*idle sm*/.avatar-2MSPKk.wrapper-3Un6-K:has(rect[fill="#f0b232"]):not([width="120"])::after, .avatar-1HDIsL .wrapper-3Un6-K:has(rect[fill="#f0b232"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 4px;
right: 4px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--idle-status-icon);
image-rendering: var(--idle-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--idle-status-icon-scale);
rotate: var(--idle-status-icon-rotation);
filter: var(--idle-status-icon-filter);
}
/*idle md*/.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K:has(rect[fill="#f0b232"]):not([width="120"])::after{
position: absolute;
content: "";

bottom: 8px;
right: 8px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--idle-status-icon);
image-rendering: var(--idle-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--medium-idle-status-icon-scale);
rotate: var(--idle-status-icon-rotation);
filter: var(--idle-status-icon-filter);
}
/*idle lg*/.wrapper-3Un6-K.avatar-3QF_VA:has(rect[fill="#f0b232"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 13px;
right: 13px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--idle-status-icon);
image-rendering: var(--idle-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--large-idle-status-icon-scale);
rotate: var(--idle-status-icon-rotation);
filter: var(--idle-status-icon-filter);

}

/*dnd sm*/.avatar-2MSPKk.wrapper-3Un6-K:has(rect[fill="#f23f43"]):not([width="120"])::after, .avatar-1HDIsL .wrapper-3Un6-K:has(rect[fill="#f23f43"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 4px;
right: 4px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--dnd-status-icon);
image-rendering: var(--dnd-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--dnd-status-icon-scale);
rotate: var(--dnd-status-icon-rotation);
filter: var(--dnd-status-icon-filter);
}
/*dnd md*/.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K:has(rect[fill="#f23f43"]):not([width="120"])::after{
position: absolute;
content: "";

bottom: 8px;
right: 8px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--dnd-status-icon);
image-rendering: var(--dnd-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--medium-dnd-status-icon-scale);
rotate: var(--dnd-status-icon-rotation);
filter: var(--dnd-status-icon-filter);

}
/*dnd lg*/.wrapper-3Un6-K.avatar-3QF_VA:has(rect[fill="#f23f43"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 13px;
right: 13px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--dnd-status-icon);
image-rendering: var(--dnd-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--large-dnd-status-icon-scale);
rotate: var(--dnd-status-icon-rotation);
filter: var(--dnd-status-icon-filter);

}

/*offline sm*/.avatar-2MSPKk.wrapper-3Un6-K:has(rect[fill="#80848e"]):not([width="120"])::after, .avatar-1HDIsL .wrapper-3Un6-K:has(rect[fill="#80848e"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 4px;
right: 4px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--offline-status-icon);
image-rendering: var(--offline-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--offline-status-icon-scale);
rotate: var(--offline-status-icon-rotation);
filter: var(--offline-status-icon-filter);
}
/*offline md*/.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K:has(rect[fill="#80848e"]):not([width="120"])::after{
position: absolute;
content: "";

bottom: 8px;
right: 8px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--offline-status-icon);
image-rendering: var(--offline-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--medium-offline-status-icon-scale);
rotate: var(--offline-status-icon-rotation);
filter: var(--offline-status-icon-filter);
}
/*offline lg*/.wrapper-3Un6-K.avatar-3QF_VA:has(rect[fill="#80848e"]):not([width="120"])::after {
position: absolute;
content: "";

bottom: 13px;
right: 13px;

width: 10%;
height: 10%;

margin: none;
border-radius: var(--status-border-radius);

background-color: var(--status-bg-color);
background-image: var(--offline-status-icon);
image-rendering: var(--offline-status-icon-render);
background-position: flip;
background-attachment: fixed;
background-size: 100%;
transform: var(--large-offline-status-icon-scale);
rotate: var(--offline-status-icon-rotation);
filter: var(--offline-status-icon-filter);
}



/* removes the background masks for sm md and lg user modules */mask[id*="uid_"] > circle[fill="black"]{
fill: transparent !important;
}
/* shapes/fills status masks*/.cursorDefault-2M8ZNp mask[id*=":r"] rect[fill="black"], .cursorDefault-2M8ZNp mask[id*=":r"] rect[fill="white"] {
rx: var(--status-radius);
fill: white !important;   
}
/* allows the status to overflow a bit */.link-39sEB3, .interactive-26HRN_.interactive-iyXY_x.interactiveSelected-29CP8y.selected-26oxtA,.container-32HW5s{
overflow: visible;
}
